*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(65,0,0,1) 79%); ;
    font-family: 'Bebas Neue', cursive;
}
.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 30px 0;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-weight: normal;
    color:  #EA0404;
    font-size: 40px;
}
.logotipo{
    background: white;
    border-radius: 50%;
    transition: 1.2s;
}
.logotipo:hover{
    transform:rotate(360deg)
}
header nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}
header nav a:hover{
    color:  #EA0404
}

/* imagen principal */

.imagenPrincipal{
    font-size: 16px;
    min-height: 40.62em;
    color: white;
    background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0, .50) 100%),  url(../img/portadas.png);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;

}
.imagenPrincipal .contenedor{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.imagenPrincipal .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 10px 6px rgb(22, 22, 22);
}
.imagenPrincipal .frase{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

/* seccion de productos */
.contenedor .seccion{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}
.contenedor .ver{
    display: flex;
    justify-content: end;
}
.contenedor .ver a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

/* discos */
.card{
    background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0, .50) 100%);
    margin-bottom: 1em; 
}

.card-body{
    color: white;
}
.btn{
    background: #EA0404;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border: 1px solid white;
    transition: 0.2s;
}
.btn:hover{
    background-color: black;
    color: #EA0404;
    border: 1px solid #EA0404;
    transform: translateY(-3px);
}
.card-title{
    font-size: 25px;
}
.card-title-1{
    font-size: 24px;

}
.card-title-2{
    font-size: 23px;
}
.card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}
.card-text-1{
    font-size: 12.2px;
    font-family: 'Open Sans', sans-serif;
}
.container-fluid{
    margin:1.2em;
}
/* FOOTER */
footer{
    grid-area: footer;
    background: darkgrey;
    grid-area: footer;
    font-size: 30px;
}

/* seccion nosotros */
.containerNosotros{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
    "main main main main"
    "barraLateral contenido1 contenido2 contenido2"
    "barraLateral contenido1 contenido2 contenido2"
    "barraLateral footer footer footer";
    grid-gap: 0.2rem;
    text-align: center;
    
}
.main{
    background: #EA0404;
    grid-area: main;
    color: white;
    font-size: 40px;

}
.barraLateral{
    background: #EA0404;
    grid-area: barraLateral;
    opacity: 70%;
    font-size: 30px;
    
}
.contenido1{
    background: #EA0404;
    grid-area: contenido1;
    opacity: 70%;
    font-size: 30px;
}
.contenido2{
    background: #EA0404;
    grid-area:contenido2;
    opacity: 70%;
    font-size: 30px;
}

footer{
    background: darkgrey;
    grid-area: footer;
    font-size: 30px;
    
}
.parrafo{
    font-size: 40PXpx;
    margin-top: 50px;
    color: white;
}


/* medias queries */
@media screen and ( max-width: 800px) {
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }
    header .contenedor{
        flex-direction: column;
        text-align: center;
    }
    .imagenPrincipal{
        font-size: 14px;
    }
    .imagenPrincipal .frase{
        max-width: 100%;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "main"
        "barraLateral"
        "contenido1"
        "contenido2"
        "footer";
    }
    .contenedor .ver{
        display: none;
    }
    .container-fluid{
        margin: 7em ;
    }
    .parrafo{
        font-size: 18px;
    }
    
}