*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY */
body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(65,0,0,1) 79%); ;
    font-family: 'Bebas Neue', cursive;
}