/* CONTACTOS */
.contacto{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/concierto2.png);
    background-size: cover;
    .contactContent{
        max-width: 800px;
        text-align: center;
        h2{
            font-size: 36px;
            font-weight: 500;
            color: $colorDos;
        }
        p{
            font-weight: 300;
            color: $colorDos;
            font-family: 'Open Sans', sans-serif;
        }
    
    }
    .containerContact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .contactInfo{
           width: 50%;
           display: flex;
           flex-direction: column;
           .box{
               position: relative;
               padding: 20px 0;
               display: flex;
               .icono{
                   min-width: 60px;
                   height: 60px;
                   background-color: $colorUno;
                   display: flex ;
                   justify-content: center;
                   align-items: center;
                   border-radius: 50%;
                   font-size: 22px;
               }
           }
           .text{
               display: flex;
               margin-left: 20px;
               font-size: 16px;
               color: black;
               flex-direction: column;
               font-weight: 300;
               h3{
                   font-weight: 500;
                   color: $colorUno;
                   text-shadow: 3px 3px 3px $colorDos;
               }
           }
        }
        .contactForm{
            width: 60%;
            padding: 40px;
            background: $colorDos;
            @include media-up(md){
                width: 400px;
                margin-left: -55px;
            }
            @include media-up(sm){
                width: 400px;
                margin-left: -114px;
            }
            h2{
                font-size: 30px;
                color: #333;
                font-weight: 500;
            }
            .inputBox{
                position: relative;
                width: 100%;
                margin-top: 10px;
                input{
                    width: 100%;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    border: none;
                    border-bottom: 2px solid $colorUno;
                    &[type="submit"]{
                        width: 100px;
                        background: black;
                        color: $colorUno;
                        border: none;
                        cursor: pointer;
                        padding: 10px;
                        font-size: 18px;
                        transition: 0.2s;
                        &:hover{
                            background: $colorUno ;
                            color: black;
                            transform: scale(1.2);
                        }
                    }
                }
                textarea{
                    width: 100%;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    border: none;
                    border-bottom: 2px solid $colorUno;
                    resize: none;

                }
            }
        }
    }
}