            /* DISCOS */
            .card{
                background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0, .50) 100%);
                margin-bottom: 1em;
                margin: 20px; 
                .card-body{
                    color: $colorDos;
                    .card-title{
                        font-size: 25px;
                    }
                    .card-title-1{
                        font-size: 24px;
                    
                    }
                    .card-title-2{
                        font-size: 20px;
                    }
                    .card-title-3{
                        font-size: 21px;
                    }
                    .card-title-4{
                        font-size: 23px;
                    }
                    .card-title-5{
                        font-size: 20.9px;
                    }
                    .card-text{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 15px;
                    
                    }
                    .card-text-1{
                        font-size: 12.2px;
                        font-family: 'Open Sans', sans-serif;
                    }
                    .btn{
                        background: $colorUno;
                        color: $colorDos;
                        display: flex;
                        justify-content: center;
                        font-size: 18px;
                        border: 1px solid $colorDos;
                        transition: 0.2s;
                        &:hover{
                            background-color: black;
                            color: $colorUno;
                            border: 1px solid $colorUno;
                            transform: translateY(-3px);
                        }
                    }
                }
                @include media-up(md){
                    margin: 50px;
                }
                @include media-up(sm){
                    margin: 100px;
                    margin-top: 20px

                }
                @include media-up(xsm){
                    margin: 41px;
                }
                @include media-up(lg){
                    margin: 120px;
                }
                @include media-up (xl){
                    margin: 60px;
                }
            }