.bannerEvento{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(/img/evento1.jpg);
    background-size: cover;
    @include media-up(xsm){
        background-size: cover;
        background-position: -450px;
    }
    @include media-up(sm){
        background-size: cover;
        background-position: -350px;
    }
    @include media-up(md){
        background-size: cover;
        background-position: -700px;
    }
    @include media-up (lg){
        background-size: cover;
        background-position: -100px;
    }
    @include media-up (xl){
        background-position: -50px;
    }
    .contenidoEvento{
        width: 100%;
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        text-align: center;
        color: $colorUno;
        h1{
            font-size: 70px;
            margin-top: 80px;
            text-shadow: 4px 4px 4px white;
            
        }
        p{
            margin: 20px auto;
            font-weight: 100;
            font-size: 20px;
            line-height: 25px;
            text-shadow: 3px 3px 3px $colorUno;
            color: white;
        }
        button{
            width: 200px;
            padding: 15px 0;
            text-align: center;
            margin: 20px 10px;
            border-radius: 25px;
            font-weight: bold;
            border: 2px solid $colorUno;
            background: transparent;
            color: white;
            font-family: 'Open Sans', sans-serif;
            position: relative;
            &:hover{
                background: black;
                border: 2px solid white;
                color: $colorUno;
            }
        }
    }
}